<%- include("./layouts/header.ejs") %>
<div>
  <div id="profile-page">
    <h2>Profile</h2>
    <h3><a href="/">&larr;&nbsp;Go back to main</a></h3>
    <div><b> Id: </b> <%= locals.id ? id: '' %></div>
    <div><b> Email: </b> <%= locals.email ? email: '' %></div>
    <div><b> Role: </b> <%= locals.role ? role: '' %></div>
  </div>
</div>
<%- include("./layouts/footer.ejs") %>
